<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<appSettings>
		<add key="api_id" value="22504967"/>
		<add key="api_hash" value="d0aa67bef390c86d472be1bcfd677c83"/>
	</appSettings>
</configuration>
